<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет по накладным</title>
    <style>
        h2, p {
            text-align: center;
        }

        th {
            font-weight: bold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid black;
        }
        .price {
            text-align: right;
        }
    </style>
</head>

<body>
    {% if created_at_start and created_at_end %}
    <h2>Отчет по накладным c {{ created_at_start }} по {{ created_at_end }}</h2>
    {% else %}
    <h2>Отчет по накладным за все время</h2>
    {% endif %}
    {% if objects.exists %}
    <table>
        <thead>
            <th>№</th>
            <th>ID сметы</th>
            <th>Дата и время поставки</th>
            <th>Специалист по закупкам</th>
            <th>Поставщик</th>
            <th>Стоимость материалов, руб</th>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.created_at }}</td>
                <td>{{ obj.employee }}</td>
                <td>{{ obj.supplier }}</td>
                <td class="price" >{{ obj.total_price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-weight: bold;">Итого</td>
                <td class="price" style="font-weight: bold;">{{ total_price }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>Нет данных за указанный период</p>
    {% endif %}
</body>

</html>